@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  min-height: 100vh;
  background: linear-gradient(45deg, #f2ebdb, #ded4bd);
}


.productImg {
  width: 150px !important;
  height: auto !important;
  filter: drop-shadow(0 1px 8px #00000071) !important;
  object-fit: cover;
}